body {
  background-color: #f1faee;
}
h1,
h2 {
  color: #1d3557;
}
button {
  font-size: 30px;
  background-color: #a8dadc;
}
#signup {
  background-color: #1d3557;
  color: #f1faee;
}
